# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Database files
*.db
*.sqlite3

# Logs
*.log

# ChromaDB data
chroma_db/
